test-file/src/main/mule/test-file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="456441e0-3ebe-478d-a48a-0d2ea393d9a9" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="test-fileFlow" doc:id="cf47284b-5498-4b4b-8924-3744f76b36b7" >
		<http:listener doc:name="Listener" doc:id="c02ee918-6e64-4ddc-869a-1beb5ac82ff9" config-ref="HTTP_Listener_config" path="/file"/>
		<file:read doc:name="File Read" doc:id="f57d5659-4d93-4d64-bf2c-c850098621c5" path="C:\Users\ashok\Documents\Mule_Mar\file-input\test.json"/>
		<logger level="INFO" doc:name="Input Data" doc:id="ffb1937d-c7ed-435e-8c08-6cdde329872f" message="Input Data::#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c28a92c1-b99a-414f-955f-c6e5869ba484" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
student:payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="output Data" doc:id="a64984ec-9224-4eba-8246-30249b7e71f4" message="output Data::#[payload]"/>
		<file:write doc:name="File Write" doc:id="35d6f85f-a0c3-451d-bfd3-2d039178856c" path="C:\Users\ashok\Documents\Mule_Mar\file-output\sample.xml"/>
	</flow>
</mule>
